.content {
  z-index: 1;

  &__top {
    &_about {
      margin-bottom: 80px;
    }

    &_services {
      background-color: $color-bg;
    }

    &_offers, &_feedback {
      position: relative;
      background-color: $color-bg-block;
    }
  }

  &__inner {
    &_about {
      padding-top: 85px;
      @media all and (min-width: $breakpoint-tablet-L) {
        padding-top: 95px;
      }
      @media all and (min-width: $breakpoint-desktop-S) {
        padding-top: 175px;
      }
      @media all and (min-width: $breakpoint-desktop-L) {
        padding-top: 230px;
      }
    }

    &_services, &_offers, &_stages, &_feedback {
      padding: 50px 0;
    }
  }
}
