@import "../modules/vars.scss";
@import "../modules/font.scss";
@import "../modules/functions.scss";
@import "../modules/ui.scss";
@import "../modules/colors.scss";

.content {
  z-index: 1;
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 85px;
    @media all and (min-width: $breakpoint-tablet-L) {
      padding-top: 95px;
    }
    @media all and (min-width: $breakpoint-desktop-S) {
      padding-top: 175px;
      justify-content: center;
    }
    @media all and (min-width: $breakpoint-desktop-L) {
      padding-top: 230px;
      justify-content: center;
    }
  }
}



