.feedback {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "title"
    "desc"
    "contacts"
    "form";

  @media all and (min-width: $breakpoint-desktop-S) {
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
    "title title"
    "desc form"
    "contacts form";
    //align-items: center;
  }

  h2 {
    grid-area: title;
  }

  &__contacts, &__form {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }

  &__desc {
    grid-area: desc;
    margin-bottom: 30px;
    @media all and (min-width: $breakpoint-desktop-S) {
      margin: 0;
    }
  }

  &__contacts {
    grid-area: contacts;
    flex-direction: column;
    margin: 0 auto 30px;
    @media all and (min-width: $breakpoint-desktop-S) {
      margin: -160px 0 0 0;
    }
  }

  &__form {
    grid-area: form;
    margin: 0 auto;
  }

  &__phone {
    margin-bottom: 15px;
  }

  &__phone, &__email {
    a {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }

    img {
      width: 25px;
    }
  }
}

.form._sending {
  &::after {
    opacity: 1;
    visibility: visible;
  }
}

.form {
  position: relative;
  padding: 40px;
  border: 1px solid $color-white;

  &::after {
    content: "";
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(51, 51, 51, 0.9) url("../img/pre.gif") center / 50px no-repeat;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease 0s;
  }

  &__title {
    @include form-title;
  }

  &__desc {
    margin-bottom: 30px;
  }

  .input {
    color: $color-green-super-dark;

    //&:not(:last-child) {
    //  margin-bottom: 10px;
    //}

    &__name {
      margin-bottom: 5px;
      color: $color-text;
      @include input-name;
    }
  }

  .req-field {
    color: $color-red;
    font-weight: bold;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease 0s;
  }

  .req-field._error {
    opacity: 1;
    visibility: visible;
  }

  input[type=text] {
    padding-left: 9px;
    width: 100%;
    height: 40px;
    border: 1px solid $color-green-light;
    border-radius: 5px;
    @include input;

    @media all and (min-width: $breakpoint-tablet-L) {
      height: 50px;
    }

    &:focus {
      box-shadow: 0 0 15px $color-green-light;
    }
  }

  input[type=text]._error {
    box-shadow: 0 0 15px $color-red;
  }

  textarea {
    margin-bottom: 20px;
    outline: none;
    -moz-appearance: none;
    resize: none;

    @include input;

    width: 100%;
    height: 100px;
    padding: 9px;
    border: 1px solid $color-green-light;
    border-radius: 5px;

    &:focus {
      box-shadow: 0 0 15px $color-green-light;
    }
  }

  textarea::-webkit-input-placeholder, input::-webkit-input-placeholder {
    @include input;
    color: $color-green-dark;
    opacity: 0.3;
  }

  textarea:-moz-placeholder, input:-moz-placeholder {
    @include input;
    color: $color-green-dark;
    opacity: 0.3;
  }
}

.checkbox {
  margin-bottom: 20px;
  cursor: pointer;
}

.checkbox._error {
  .checkbox-label::before {
    box-shadow: 0 0 15px $color-red;
  }
}

.checkbox-input {
  display: none;
}

.checkbox-input:checked + .checkbox-label::after {
  transform: scale(1); //показать
}

.checkbox-label {
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  width: calc(100% + 24px);
  line-height: 25px;

  &::before {
    content: '';
    align-self: flex-start;
    flex: 0 0 24px;
    height: 24px;
    background-color: $color-green-dark;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    margin-right: 10px;
  }

  &::after {
    content: '\2713';
    color: $color-white;
    font-size: 20px;
    position: absolute;
    top: 0;
    left: 5px;
    transform: scale(0); //скрыть
    transition: transform 0.5s ease;
  }
}
