$color-white: #fff;
$color-green: #10a63d;
$color-lilac: #8C93D1;

$color-text: $color-white;
$color-text-hover: $color-green;
$color-item-menu: $color-green;
$color-item-menu-hover: $color-white;
$color-bg: $color-white;

$color-link: $color-green;
$color-link-disable: $color-green;
$color-link-hover: $color-green;
$color-link-active: $color-green;

$color-btn: $color-green;
$color-btn-disable: $color-green;
$color-btn-hover: $color-green;
$color-btn-active: $color-green;


