$color-white: #fff;
$color-green: #095e23;
$color-green-dark: #053E17FF;
$color-green-super-dark: #01240d;
$color-blue-dark: #0829a5;
$color-lilac: #8C93D1;
$color-gray-dark: #1d1f1e;

$color-text: $color-white;
$color-text-hover: $color-green;
$color-item-menu: $color-green;
$color-item-menu-hover: $color-white;
$color-bg: $color-white;
$color-bg-block: $color-gray-dark;

$color-link: $color-green;
$color-link-disable: $color-green;
$color-link-hover: $color-green;
$color-link-active: $color-green;

$color-btn: $color-green;
//$color-btn-disable: $color-green;
$color-btn-hover: $color-green-dark;
$color-btn-active: $color-green-super-dark;


