<!--ограничение по высоте -->
<div class="content">
    <!--фон-->
    <div class="content__top content__top_about">
        <!--ограничение по ширине-->
        <div class="content__wrap container">
            <!--внутренний контейнер-->
            <div class="content__inner content__inner_about">
                <div class="about">
                    <h1>Продаём и&nbsp;сдаём в&nbsp;аренду квартиры и&nbsp;коттеджи</h1>
                    <h3>Решение любого жилищного вопроса: продажа, покупка и&nbsp;аренда недвижимости, а&nbsp;также
                        помощь с&nbsp;ипотекой, расселением и&nbsp;приватизацией</h3>
                    <div class="btn">
                        <button type="button">Связаться</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
