<!--ограничение по высоте -->
<div class="content data-about">
    <!--фон-->
    <div class="content__top content__top_about">
        <!--ограничение по ширине-->
        <div class="content__wrap container">
            <!--внутренний контейнер-->
            <div class="content__inner content__inner_about">
                <div class="about">
                    <h1>Удобно выгодно безопасно</h1>
                    <h3>Решение любого жилищного вопроса: продажа, покупка и&nbsp;аренда недвижимости, загородная,
                        коммерческая недвижимость, а&nbsp;также
                        помощь с&nbsp;ипотекой</h3>
                    <div class="btn">
                        <button type="button" data-goto=".data-feedback">Связаться</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
