<!--ограничение по высоте -->
<div class="content data-feedback">
    <!--фон-->
    <div class="content__top content__top_feedback">
        <!--ограничение по ширине-->
        <div class="content__wrap container">
            <!--внутренний контейнер-->
            <div class="content__inner content__inner_feedback">
                <div class="feedback">
                    <h2>контакты</h2>
                    <div class="feedback__contacts">
                        <h3 class="feedback__phone">
                            <a href="tel:79529658088">
                                <img src="./img/telephone.webp" alt="feedback-phone"/>
                                <span>+7 (952) 965 80 88</span>
                            </a>
                        </h3>
                        <h3 class="feedback__email">
                            <a href="mailto:etalon76@bk.ru">
                                <img src="./img/email.webp" alt="feedback-email"/>
                                <span>etalon76@bk.ru</span>
                            </a>
                        </h3>
                        <h3>г. Брянск, ул. Урицкого, 9А, <br>1 этаж</h3>
                    </div>

                    <div class="feedback__form data-form">
                        <form action="#" class="form" id="form">

                            <div class="form__title">Заявка на консультацию</div>
                            <div class="form__desc">Свяжемся и подготовим лучшие предложения!</div>

                            <div class="input">
                                <div class="input__name">Имя</div>
                                <label for="name"></label>
                                <input
                                    type="text"
                                    autocomplete="off"
                                    name="name"
                                    id="name"
                                    class="measure-form-name _req"
                                    placeholder="Ваше имя"/>
                                <div class="req-field">Обязательное поле</div>
                            </div>

                            <div class="input">
                                <div class="input__name">Номер телефона</div>
                                <label for="phone"></label>
                                <input
                                    type="text"
                                    autocomplete="off"
                                    name="phone"
                                    id="phone"
                                    class="measure-form-phone _req"
                                    placeholder="Ваш номер телефона"/>
                                <div class="req-field">Обязательное поле</div>
                            </div>

                            <div class="input">
                                <div class="input__name">Комментарий</div>
                                <textarea
                                    name="message"
                                    class="measure-form-message"
                                    placeholder="Комментарий"></textarea>
                            </div>

                            <div class="checkbox">
                                <input
                                    class="checkbox-input _req"
                                    checked
                                    type="checkbox"
                                    name="agreement"
                                    id="agreement"/>
                                <label class="checkbox-label" for="agreement">
                                    Я согласен на обработку персональных данных
                                </label>
                                <div class="req-field">Обязательное поле</div>
                            </div>

                            <div class="g-recaptcha" data-sitekey="6LeAnlImAAAAABg6PlBWsw_3KkqlYFzuffvy3YXY"></div>
                            <br/>

                            <div class="btn">
                                <button type="submit">Отправить</button>
                            </div>
                        </form>

                        <div class="feedback-anim">

                            <div class="skyscraper skyscraper_cloud-one">
                                <?xml version="1.0" encoding="utf-8"?>
                                <!-- Generator: Adobe Illustrator 23.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                                <svg class="parallax1" version="1.1"
                                     id="svg4189" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" xmlns:ns1="http://sozi.baierouge.fr" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:svg="http://www.w3.org/2000/svg"
                                     xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 151 98"
                                     style="enable-background:new 0 0 151 98;" xml:space="preserve">
<style type="text/css">
	.st0-с1{fill:#729FCF;}
    .st1-с1{fill:#EEEEEC;}
</style>
                                    <title  id="title4428">Cloud</title>
                                    <sodipodi:namedview  bordercolor="#666666" borderopacity="1.0" id="base" inkscape:current-layer="layer1" inkscape:cx="75.5" inkscape:cy="49" inkscape:document-units="px" inkscape:pageopacity="0.0" inkscape:pageshadow="2" inkscape:showpageshadow="false" inkscape:window-height="977" inkscape:window-maximized="1" inkscape:window-width="1280" inkscape:window-x="-4" inkscape:window-y="-4" inkscape:zoom="7.5714286" pagecolor="#ffffff" showgrid="false" width="151px">
	</sodipodi:namedview>
                                    <g id="layer1" transform="translate(0 -954.36)" inkscape:groupmode="layer" inkscape:label="Calque 1">
	<g id="g4449">
		<path id="path2844" class="st0-с1" d="M104.8,978.9c0,13.5-13.8,24.5-30.8,24.5s-30.8-11-30.8-24.5S57,954.4,74,954.4
			S104.8,965.3,104.8,978.9z"/>
        <path id="path2844-3" class="st1-с1" d="M103.4,979.7c0,13.4-13.2,24.3-29.6,24.3c-16.3,0-29.6-10.9-29.6-24.3
			c0-13.4,13.2-24.3,29.6-24.3C90.2,955.4,103.4,966.3,103.4,979.7z"/>
        <path id="path2844-9" class="st1-с1" d="M106.1,1009.9c0,12.3-11.2,22.2-25,22.2s-25-9.9-25-22.2c0-12.3,11.2-22.2,25-22.2
			S106.1,997.6,106.1,1009.9z"/>
        <path id="path2844-5" class="st0-с1" d="M125.8,992.8c0,12.3-11.2,22.2-25,22.2s-25-9.9-25-22.2c0-12.3,11.2-22.2,25-22.2
			S125.8,980.5,125.8,992.8z"/>
        <path id="path2844-11" class="st0-с1" d="M70.2,999.8c0,12.3-11.2,22.2-25,22.2s-25-9.9-25-22.2c0-12.3,11.2-22.2,25-22.2
			S70.2,987.6,70.2,999.8z"/>
        <path id="path2844-11-1" class="st1-с1" d="M72.6,1001c0,12.3-11.5,22.2-25.6,22.2s-25.6-9.9-25.6-22.2c0-12.3,11.5-22.2,25.6-22.2
			S72.6,988.7,72.6,1001z"/>
        <path id="path2844-1" class="st0-с1" d="M40.4,1019.3c0,9.9-8.9,17.9-20,17.9c-11,0-20-8-20-17.9c0-9.9,8.9-17.9,20-17.9
			C31.5,1001.4,40.4,1009.4,40.4,1019.3z"/>
        <path id="path2844-1-76" class="st1-с1" d="M41,1019.7c0,9.3-8.8,16.8-19.6,16.8s-19.6-7.5-19.6-16.8s8.8-16.8,19.6-16.8
			S41,1010.4,41,1019.7L41,1019.7z"/>
        <path id="path2844-5-4" class="st1-с1" d="M126.2,994.9c0,12.9-11.4,23.3-25.4,23.3c-14.1,0-25.4-10.4-25.4-23.3
			c0-12.9,11.4-23.3,25.4-23.3C114.8,971.6,126.2,982,126.2,994.9z"/>
        <path id="path2844-2" class="st0-с1" d="M150.5,1000.3c0,12.3-11.2,22.2-25,22.2s-25-9.9-25-22.2c0-12.3,11.2-22.2,25-22.2
			S150.5,988,150.5,1000.3z"/>
        <path id="path2844-2-2" class="st1-с1" d="M149.8,1000.2c0,11.6-11.3,21-25.2,21c-13.9,0-25.2-9.4-25.2-21s11.3-21,25.2-21
			C138.5,979.2,149.8,988.6,149.8,1000.2z"/>
        <path id="path2844-1-7" class="st0-с1" d="M41.9,1033.7c0,6.6-5.2,11.9-11.6,11.9c-6.4,0-11.6-5.3-11.6-11.9
			c0-6.6,5.2-11.9,11.6-11.9C36.7,1021.8,41.9,1027.1,41.9,1033.7z"/>
        <path id="path2844-1-7-2" class="st1-с1" d="M42.3,1032.9c0,6.5-5.1,11.7-11.4,11.7c-6.3,0-11.4-5.2-11.4-11.7
			c0-6.5,5.1-11.7,11.4-11.7C37.1,1021.2,42.3,1026.4,42.3,1032.9z"/>
        <path id="path2844-4" class="st0-с1" d="M84.3,1030.1c0,12.3-11.2,22.2-25,22.2s-25-9.9-25-22.2c0-12.3,11.2-22.2,25-22.2
			S84.3,1017.8,84.3,1030.1z"/>
        <path id="path2844-4-2" class="st1-с1" d="M84.5,1029.6c0,12-10.9,21.8-24.4,21.8s-24.4-9.7-24.4-21.8s10.9-21.8,24.4-21.8
			S84.5,1017.6,84.5,1029.6z"/>
        <path id="path2844-8" class="st0-с1" d="M139.4,1020c0,12.3-11.2,22.2-25,22.2s-25-9.9-25-22.2c0-12.3,11.2-22.2,25-22.2
			S139.4,1007.7,139.4,1020z"/>
        <path id="path2844-8-1" class="st1-с1" d="M138.1,1019.8c0,11.8-11.2,21.4-25,21.4c-13.8,0-25-9.6-25-21.4s11.2-21.4,25-21.4
			C126.8,998.4,138.1,1008,138.1,1019.8L138.1,1019.8z"/>
        <path id="path2844-1-7-6" class="st0-с1" d="M91,1048c-8,1.3-15.5-3.8-16.8-11.4c-1.3-7.6,4.1-14.9,12-16.2c8-1.3,15.5,3.8,16.8,11.4
			C104.3,1039.4,98.9,1046.7,91,1048L91,1048z"/>
        <path id="path2844-1-7-6-5" class="st1-с1" d="M91.3,1046.6c-7.8,1.3-15.2-3.8-16.5-11.4c-1.3-7.6,4-14.9,11.8-16.2
			c7.8-1.3,15.2,3.8,16.5,11.4C104.4,1038,99.1,1045.3,91.3,1046.6L91.3,1046.6z"/>
	</g>
</g>
</svg>
                            </div>
                            <div class="skyscraper skyscraper_cloud-two">
                                <?xml version="1.0" encoding="utf-8"?>
                                <!-- Generator: Adobe Illustrator 23.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                                <svg class="parallax2" version="1.1"
                                     id="svg4189" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" xmlns:ns1="http://sozi.baierouge.fr" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:svg="http://www.w3.org/2000/svg"
                                     xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 151 98"
                                     style="enable-background:new 0 0 151 98;" xml:space="preserve">
<style type="text/css">
	.st0-с1{fill:#729FCF;}
    .st1-с1{fill:#EEEEEC;}
</style>
                                    <title  id="title4428">Cloud</title>
                                    <sodipodi:namedview  bordercolor="#666666" borderopacity="1.0" id="base" inkscape:current-layer="layer1" inkscape:cx="75.5" inkscape:cy="49" inkscape:document-units="px" inkscape:pageopacity="0.0" inkscape:pageshadow="2" inkscape:showpageshadow="false" inkscape:window-height="977" inkscape:window-maximized="1" inkscape:window-width="1280" inkscape:window-x="-4" inkscape:window-y="-4" inkscape:zoom="7.5714286" pagecolor="#ffffff" showgrid="false" width="151px">
	</sodipodi:namedview>
                                    <g id="layer1" transform="translate(0 -954.36)" inkscape:groupmode="layer" inkscape:label="Calque 1">
	<g id="g4449">
		<path id="path2844" class="st0-с1" d="M104.8,978.9c0,13.5-13.8,24.5-30.8,24.5s-30.8-11-30.8-24.5S57,954.4,74,954.4
			S104.8,965.3,104.8,978.9z"/>
        <path id="path2844-3" class="st1-с1" d="M103.4,979.7c0,13.4-13.2,24.3-29.6,24.3c-16.3,0-29.6-10.9-29.6-24.3
			c0-13.4,13.2-24.3,29.6-24.3C90.2,955.4,103.4,966.3,103.4,979.7z"/>
        <path id="path2844-9" class="st1-с1" d="M106.1,1009.9c0,12.3-11.2,22.2-25,22.2s-25-9.9-25-22.2c0-12.3,11.2-22.2,25-22.2
			S106.1,997.6,106.1,1009.9z"/>
        <path id="path2844-5" class="st0-с1" d="M125.8,992.8c0,12.3-11.2,22.2-25,22.2s-25-9.9-25-22.2c0-12.3,11.2-22.2,25-22.2
			S125.8,980.5,125.8,992.8z"/>
        <path id="path2844-11" class="st0-с1" d="M70.2,999.8c0,12.3-11.2,22.2-25,22.2s-25-9.9-25-22.2c0-12.3,11.2-22.2,25-22.2
			S70.2,987.6,70.2,999.8z"/>
        <path id="path2844-11-1" class="st1-с1" d="M72.6,1001c0,12.3-11.5,22.2-25.6,22.2s-25.6-9.9-25.6-22.2c0-12.3,11.5-22.2,25.6-22.2
			S72.6,988.7,72.6,1001z"/>
        <path id="path2844-1" class="st0-с1" d="M40.4,1019.3c0,9.9-8.9,17.9-20,17.9c-11,0-20-8-20-17.9c0-9.9,8.9-17.9,20-17.9
			C31.5,1001.4,40.4,1009.4,40.4,1019.3z"/>
        <path id="path2844-1-76" class="st1-с1" d="M41,1019.7c0,9.3-8.8,16.8-19.6,16.8s-19.6-7.5-19.6-16.8s8.8-16.8,19.6-16.8
			S41,1010.4,41,1019.7L41,1019.7z"/>
        <path id="path2844-5-4" class="st1-с1" d="M126.2,994.9c0,12.9-11.4,23.3-25.4,23.3c-14.1,0-25.4-10.4-25.4-23.3
			c0-12.9,11.4-23.3,25.4-23.3C114.8,971.6,126.2,982,126.2,994.9z"/>
        <path id="path2844-2" class="st0-с1" d="M150.5,1000.3c0,12.3-11.2,22.2-25,22.2s-25-9.9-25-22.2c0-12.3,11.2-22.2,25-22.2
			S150.5,988,150.5,1000.3z"/>
        <path id="path2844-2-2" class="st1-с1" d="M149.8,1000.2c0,11.6-11.3,21-25.2,21c-13.9,0-25.2-9.4-25.2-21s11.3-21,25.2-21
			C138.5,979.2,149.8,988.6,149.8,1000.2z"/>
        <path id="path2844-1-7" class="st0-с1" d="M41.9,1033.7c0,6.6-5.2,11.9-11.6,11.9c-6.4,0-11.6-5.3-11.6-11.9
			c0-6.6,5.2-11.9,11.6-11.9C36.7,1021.8,41.9,1027.1,41.9,1033.7z"/>
        <path id="path2844-1-7-2" class="st1-с1" d="M42.3,1032.9c0,6.5-5.1,11.7-11.4,11.7c-6.3,0-11.4-5.2-11.4-11.7
			c0-6.5,5.1-11.7,11.4-11.7C37.1,1021.2,42.3,1026.4,42.3,1032.9z"/>
        <path id="path2844-4" class="st0-с1" d="M84.3,1030.1c0,12.3-11.2,22.2-25,22.2s-25-9.9-25-22.2c0-12.3,11.2-22.2,25-22.2
			S84.3,1017.8,84.3,1030.1z"/>
        <path id="path2844-4-2" class="st1-с1" d="M84.5,1029.6c0,12-10.9,21.8-24.4,21.8s-24.4-9.7-24.4-21.8s10.9-21.8,24.4-21.8
			S84.5,1017.6,84.5,1029.6z"/>
        <path id="path2844-8" class="st0-с1" d="M139.4,1020c0,12.3-11.2,22.2-25,22.2s-25-9.9-25-22.2c0-12.3,11.2-22.2,25-22.2
			S139.4,1007.7,139.4,1020z"/>
        <path id="path2844-8-1" class="st1-с1" d="M138.1,1019.8c0,11.8-11.2,21.4-25,21.4c-13.8,0-25-9.6-25-21.4s11.2-21.4,25-21.4
			C126.8,998.4,138.1,1008,138.1,1019.8L138.1,1019.8z"/>
        <path id="path2844-1-7-6" class="st0-с1" d="M91,1048c-8,1.3-15.5-3.8-16.8-11.4c-1.3-7.6,4.1-14.9,12-16.2c8-1.3,15.5,3.8,16.8,11.4
			C104.3,1039.4,98.9,1046.7,91,1048L91,1048z"/>
        <path id="path2844-1-7-6-5" class="st1-с1" d="M91.3,1046.6c-7.8,1.3-15.2-3.8-16.5-11.4c-1.3-7.6,4-14.9,11.8-16.2
			c7.8-1.3,15.2,3.8,16.5,11.4C104.4,1038,99.1,1045.3,91.3,1046.6L91.3,1046.6z"/>
	</g>
</g>
</svg>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="feedback__city">
            <img src="./img/16.webp" alt="16"/>
        </div>

    </div>
</div>
