<!--ограничение по высоте -->
<div class="content data-feedback">
    <!--фон-->
    <div class="content__top content__top_feedback">
        <!--ограничение по ширине-->
        <div class="content__wrap container">
            <!--внутренний контейнер-->
            <div class="content__inner content__inner_feedback">
                <div class="feedback">
                    <h2>контакты</h2>
                    <div class="feedback__desc">Сопровожу любую сделку и добьюсь того, чтобы при покупке вы приобрели жилье мечты, при продаже
                        смогли провести выгодную сделку, а при аренде не волновались за свою собственность!
                    </div>
                    <div class="feedback__contacts">
                        <h3 class="feedback__phone">
                            <a href="tel:79231264852">
                                <img src="./img/telephone.webp" alt="feedback-phone"/>
                                <div>+79231264852</div>
                            </a>
                        </h3>

                        <h3 class="feedback__email">
                            <a href="mailto:example@mail.ru">
                                <img src="./img/email.webp" alt="feedback-email"/>
                                <div>+example@mail.ru</div>
                            </a>
                        </h3>
                    </div>
                    <div class="feedback__form">
                        <form action="#" class="form" id="form">

                            <div class="form__title">Заявка на консультацию</div>
                            <div class="form__desc">Свяжемся и подготовим лучшие предложение!</div>

                            <div class="input">
                                <div class="input__name">Имя</div>
                                <label for="name"></label>
                                <input
                                    type="text"
                                    autocomplete="off"
                                    name="name"
                                    id="name"
                                    class="measure-form-name _req"
                                    placeholder="Ваше имя"/>
                                <div class="req-field">Обязательное поле</div>
                            </div>

                            <div class="input">
                                <div class="input__name">Номер телефона</div>
                                <label for="phone"></label>
                                <input
                                    type="text"
                                    autocomplete="off"
                                    name="phone"
                                    id="phone"
                                    class="measure-form-phone _req"
                                    placeholder="Ваш номер телефона"/>
                                <div class="req-field">Обязательное поле</div>
                            </div>

                            <div class="input">
                                <div class="input__name">Комментарий</div>
                                <textarea
                                    name="message"
                                    class="measure-form-message"
                                    placeholder="Комментарий"></textarea>
                            </div>

                            <div class="checkbox">
                                <input
                                    class="checkbox-input _req"
                                    checked
                                    type="checkbox"
                                    name="agreement"
                                    id="agreement"/>
                                <label class="checkbox-label" for="agreement">
                                    Я согласен на обработку персональных данных
                                </label>
                                <div class="req-field">Обязательное поле</div>
                            </div>

                            <div class="btn">
                                <button type="submit">Отправить</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
