<!--ограничение по высоте -->
<footer class="footer">
    <!--фон-->
    <div class="footer_middle">
        <!--ограничение по ширине-->
        <div class="footer__wrap container">
            <!--внутренний контейнер-->
            <div class="footer__inner">
                <a href="/" class="menu-logo-m">
                    <span class="menu-logo-title">ЭТАЛОН</span>
                    <span class="menu-logo-desc">юридичекое агентство недвижимости</span>
                </a>
                <div>
                    <ul class="footer__list">
                        <li>сделки с недвижимостью</li>
                        <li>военная ипотека</li>
                        <li>сертификаты</li>
                        <li>зарубежная недвижимость</li>
                        <li>ипотечные кредиты от официальных партнеров</li>
                    </ul>
                </div>
                <div class="footer__contacts">
                    <div class="feedback__phone">
                        <a href="tel:79529658088">
                            <img src="./img/telephone.webp" alt="feedback-phone"/>
                            <span>+7 (952) 965 80 88</span>
                        </a>
                    </div>
                    <div class="feedback__email">
                        <a href="mailto:etalon76@bk.ru">
                            <img src="./img/email.webp" alt="feedback-email"/>
                            <span>etalon76@bk.ru</span>
                        </a>
                    </div>
                    <div class="feedback__address">г. Брянск, ул. Урицкого, 9А, 1 этаж</div>
                    <div class="footer__parts">
                        <div class="footer__title-part">Банки-партнёры</div>
                        <div class="footer__container-part">
                            <div class="footer__part"><img alt="sber" src="./img/sber.webp"/></div>
                            <div class="footer__part"><img alt="uralsib" src="./img/uralsib.webp"/></div>
                            <div class="footer__part"><img alt="vtb24" src="./img/vtb24.webp"/></div>
                            <div class="footer__part"><img alt="alfabank" src="./img/alfabank.webp"/></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
