<!--ограничение по высоте -->
<header class="header">
    <!--фон-->
    <div class="header_middle">
        <!--ограничение по ширине-->
        <div class="header__wrap container">
            <!--внутренний контейнер-->
            <div class="header__inner">

                <nav class="desktop-menu">
                    <a href="/" class="menu-logo-d">
                        <img alt="logo" src="./img/logo.webp">
                    </a>
                    <ul class="desktop-menu__list">
                        <li class="desktop-menu__item contacts-item" data-goto=".data-about">
                            <a class="desktop-menu__link" href="#">Главная</a>
                        </li>
                        <li class="desktop-menu__item contacts-item" data-goto=".data-services">
                            <a class="desktop-menu__link" href="#">Услуги</a>
                        </li>
                        <li class="desktop-menu__item contacts-item" data-goto=".data-offers">
                            <a class="desktop-menu__link" href="#">Галерея</a>
                        </li>
                        <li class="desktop-menu__item contacts-item" data-goto=".data-stages">
                            <a class="desktop-menu__link" href="#">Этапы работы</a>
                        </li>
                        <li class="desktop-menu__item contacts-item" data-goto=".data-feedback">
                            <a class="desktop-menu__link" href="#">Контакты</a>
                        </li>
                    </ul>
                </nav>

                <div class="mobile-menu-cell">
                    <a href="/" class="menu-logo-m">
                        <img alt="logo" src="./img/logo.webp">
                    </a>
                </div>

                <nav class="mobile-menu">
                    <a href="/" class="menu-logo-m">
                        <img alt="logo" src="./img/logo.webp">
                    </a>
                    <ul class="mobile-menu__list">
                        <li><a href="#" class="" data-goto=".data-about">Главная</a></li>
                        <li><a href="#" class="" data-goto=".data-services">Услуги</a></li>
                        <li><a href="#" class="" data-goto=".data-offers">Галерея</a></li>
                        <li><a href="#" class="" data-goto=".data-stages">Этапы работы</a></li>
                        <li><a href="#" class="" data-goto=".data-feedback">Контакты</a></li>
                        <!--<li><a href="#" class="nav-item photo-item" data-goto=".examples-screen">Наши работы</a></li>-->
                    </ul>
                </nav>

                <div class="menu__burger">
                    <div class="menu__icon icon-menu">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
