<!--ограничение по высоте -->
<header class="header">
    <!--фон-->
    <div class="header_middle">
        <!--ограничение по ширине-->
        <div class="header__wrap container">
            <!--внутренний контейнер-->
            <div class="header__inner">

                <nav class="desktop-menu">
                    <a href="/" class="menu-logo-d">
                        <img alt="logo" src="./img/logo.webp">
                    </a>
                    <ul class="desktop-menu__list">
                        <li class="desktop-menu__item contacts-item"><a class="desktop-menu__link" href="/">Главная</a></li>
                        <li class="desktop-menu__item contacts-item"><a class="desktop-menu__link" href="#">Услуги</a></li>
                        <li class="desktop-menu__item contacts-item"><a class="desktop-menu__link" href="#">Предложения</a></li>
                        <li class="desktop-menu__item contacts-item"><a class="desktop-menu__link" href="#">Галерея</a></li>
                        <li class="desktop-menu__item contacts-item"><a class="desktop-menu__link" href="#">Этапы работы</a></li>
                        <li class="desktop-menu__item contacts-item"><a class="desktop-menu__link" href="#">Контакты</a></li>
                    </ul>
                </nav>

                <div class="mobile-menu-cell">
                    <a href="/" class="menu-logo-m">
                        <img alt="logo" src="./img/logo.webp">
                    </a>
                </div>

                <nav class="mobile-menu">
                    <a href="/" class="menu-logo-m">
                        <img alt="logo" src="./img/logo.webp">
                    </a>
                    <ul class="mobile-menu__list">
                        <li><a href="#" class="">Главная</a></li>
                        <li><a href="#" class="">Услуги</a></li>
                        <li><a href="#" class="">Предложения</a></li>
                        <li><a href="#" class="">Галерея</a></li>
                        <li><a href="#" class="">Этапы работы</a></li>
                        <li><a href="#" class="">Контакты</a></li>
                        <!--                        <li><a href="#" class="nav-item photo-item" data-goto=".examples-screen">Наши работы</a></li>-->
                    </ul>
                </nav>

                <div class="menu__burger">
                    <div class="menu__icon icon-menu">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
