<!--ограничение по высоте -->
<div class="content">
    <!--фон-->
    <div class="content__top content__top_offers">
        <!--ограничение по ширине-->
        <div class="content__wrap container">
            <!--внутренний контейнер-->
            <div class="content__inner content__inner_offers">
                <div class="offers">
                    <h2>ФОТО ОБЪЕКТОВ, С КОТОРЫМИ мы РАБОТАем/ примеры объектов</h2>
                    <div class="offers__row">
                        @@loop("../template/card-product.html", "../../data/content.json")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
