<!--ограничение по высоте -->
<div class="content data-services">
    <!--фон-->
    <div class="content__top content__top_services">
        <!--ограничение по ширине-->
        <div class="content__wrap container">
            <!--внутренний контейнер-->
            <div class="content__inner content__inner_services">
                <div class="services">
                    <div class="services__container">
                        <div class="services__title">ПОМОГАЕМ С ИПОТЕКОЙ</div>
                        <div class="services__disc">Официальные партнёры СБЕР, ВТБ, предлагаем выгодные условия</div>
                    </div>
                    <div class="services__container">
                        <div class="services__title">Военная ипотека</div>
                        <div class="services__disc">Сделки с сертификатами любых видов</div>
                    </div>
                    <div class="services__container">
                        <div class="services__title">СОПРОВОЖДение СДЕЛок</div>
                        <div class="services__disc">Сделки с недвижимостью любой сложности
                        </div>
                    </div>
                    <div class="services__container">
                        <div class="services__title">ПОМОГАЕМ ИНВЕСТИРОВАТЬ в недвижимость</div>
                        <div class="services__disc">Предлагаем лучшие варианты</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
