<!--ограничение по высоте -->
<div class="stages">
    <!--фон-->
    <div class="stages__top content__top_stages">
        <!--ограничение по ширине-->
        <div class="content__wrap container">
            <!--внутренний контейнер-->
            <div class="content__inner content__inner_stages">
                <div class="stages">
                    <h2>Этапы работы</h2>
                    <div class="stages__blocks">
                        <div class="stages__block">
                            <div class="stages__title">ПРОДАЖА НЕДВИЖИМОСТИ</div>
                            <ul class="stages__list">
                                <li>Вы показываете вашу невижимость</li>
                                <li>Проводим оценку недвижимости</li>
                                <li>Предпродажная подготовка недвижимости</li>
                                <li>Маркетинг и реклама объекта</li>
                                <li>Проведение виртуальных или реальных показов объекта</li>
                                <li>Подготовка необходимой документации и договора для сделки</li>
                                <li>Вы получаете деньги</li>
                            </ul>
                        </div>
                        <div class="stages__block">
                            <div class="stages__title">ПОКУПКА НЕДВИЖИМОСТИ</div>
                            <ul class="stages__list">
                                <li>Вы рассказываете о том, что ищите</li>
                                <li>Далее подбор подходящих вариантов</li>
                                <li>Проведение виртуальных или реальных показов объекта</li>
                                <li>Бронь выбранной вами идеальной квартиры</li>
                                <li>Подготовка необходимой документации и договора для сделки</li>
                                <li>Вы получаете ключи от вашей квартиры мечты</li>
                            </ul>
                        </div>
                        <div class="stages__block">
                            <div class="stages__title">АРЕНДНЫЕ РЕШЕНИЯ</div>
                            <ul class="stages__list">
                                <li>Маркетинг и реклама объекта</li>
                                <li>Проведение виртуальных или реальных показов объекта</li>
                                <li>Ведение переговоров с возможными арендаторами</li>
                                <li>Подготовка необходимой документации и договора для аренды недвижимости</li>
                                <li>Организация безопасных расчетов за объект недвижимости</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
