<!--ограничение по высоте -->
<div class="content data-stages">
    <!--фон-->
    <div class="stages__top content__top_stages">
        <!--ограничение по ширине-->
        <div class="content__wrap container">
            <!--внутренний контейнер-->
            <div class="content__inner content__inner_stages">
                <div class="stages">
                    <h2>Мы возьмем на себя все этапы решения вашего жилищного вопроса</h2>
                    <div class="stages__blocks">
                        <div class="stages__block">
                            <div class="stages__title">ПРОДАЖА НЕДВИЖИМОСТИ</div>
                            <ul class="stages__list stages__list_sale">
                                <li>Вы показываете вашу квартиру или дом</li>
                                <li>Мы определим рыночную стоимость объекта</li>
                                <li>Поможем реализовать предпродажную подготовку</li>
                                <li>Разработаем комплекс маркетинговых мероприятий для эффективной продажи</li>
                                <li>Проведем реальные и виртуальные показы объекта будущим покупателям</li>
                                <li>Подготовим все необходимые документы, организуем процесс регистрации сделки и
                                    безопасного расчета с покупателем
                                </li>
                                <li>Вы получаете деньги</li>
                            </ul>
                        </div>
                        <div class="stages__block">
                            <div class="stages__title">ПОКУПКА НЕДВИЖИМОСТИ</div>
                            <ul class="stages__list">
                                <li>Сориентируем на рынке недвижимости, поможем понять, какое жилье подойдет именно
                                    вам
                                </li>
                                <li>Подберем ипотечный кредит с оптимальными условиями</li>
                                <li>Предложим варианты, исходя из ваших потребностей и предпочтений</li>
                                <li>Покажем все подходящие объекты в комфортном для вас режиме, в том числе виртуально
                                </li>
                                <li>Забронируем ваше идеальное жильё, проведем переговоры с продавцом обо всех нюансах
                                    будущей сделки
                                </li>
                                <li>Подготовим все необходимые документы, организуем процесс регистрации сделки и
                                    безопасного расчета с продавцом
                                </li>
                                <li>Вы получаете ключи от квартиры или дома вашей мечты</li>
                            </ul>
                        </div>
                        <div class="stages__block">
                            <div class="stages__title">АРЕНДНЫЕ РЕШЕНИЯ</div>
                            <ul class="stages__list stages__list_rent">
                                <li>Разработаем комплекс маркетинговых мероприятий по сдаче квартиры в наём или аренду
                                </li>
                                <li>Осуществим реальные и виртуальные показы объекта</li>
                                <li>Проведем переговоры с возможными арендаторами</li>
                                <li>Подготовим необходимую документацию и договора найма или аренды</li>
                                <li>Организуем безопасные расчеты между сторонами</li>
                            </ul>
                        </div>
                    </div>
                    <div>
                        <div class="btn">
                            <button type="button" data-goto=".data-feedback">ОСТАЛИСЬ ВОПРОСЫ?</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
