<!--ограничение по высоте -->
<div class="content data-success">
    <!--фон-->
    <div class="content__top content__top_success">
        <!--ограничение по ширине-->
        <div class="content__wrap container">
            <!--внутренний контейнер-->
            <div class="content__inner content__inner_success">
                <div class="success">
                    <div class="success__container">
                        <h2>наши достижения</h2>
                        <!-- Главный контейнер -->
                        <div class="success-slider swiper">
                            <!-- Оболочка -->
                            <div class="success-slider__wrapper swiper-wrapper">
                                <!--Слайды -->
                                <div class="success-slider__slide swiper-slide">
                                    <!-- внутренний контент слайда -->
                                    <div class="success-slider__inner">
                                        <div class="success-slider__image">
                                            <img src="./img/success1.webp" alt="success"/>
                                        </div>
                                    </div>
                                </div>

                                <div class="success-slider__slide swiper-slide">
                                    <!-- внутренний контент слайда -->
                                    <div class="success-slider__inner">
                                        <div class="success-slider__image">
                                            <img src="./img/success2.webp" alt="success"/>
                                        </div>
                                    </div>
                                </div>

                                <div class="success-slider__slide swiper-slide">
                                    <!-- внутренний контент слайда -->
                                    <div class="success-slider__inner">
                                        <div class="success-slider__image">
                                            <img src="./img/success3.webp" alt="success"/>
                                        </div>
                                    </div>
                                </div>

                                <div class="success-slider__slide swiper-slide">
                                    <!-- внутренний контент слайда -->
                                    <div class="success-slider__inner">
                                        <div class="success-slider__image">
                                            <img src="./img/success4.webp" alt="success"/>
                                        </div>
                                    </div>
                                </div>

                                <div class="success-slider__slide swiper-slide">
                                    <!-- внутренний контент слайда -->
                                    <div class="success-slider__inner">
                                        <div class="success-slider__image">
                                            <img src="./img/success5.webp" alt="success"/>
                                        </div>
                                    </div>
                                </div>

                                <div class="success-slider__slide swiper-slide">
                                    <!-- внутренний контент слайда -->
                                    <div class="success-slider__inner">
                                        <div class="success-slider__image success-slider__image_sert-btb">
                                            <img src="./img/success6.webp" alt="success"/>
                                        </div>
                                    </div>
                                </div>

                                <div class="success-slider__slide swiper-slide">
                                    <!-- внутренний контент слайда -->
                                    <div class="success-slider__inner">
                                        <div class="success-slider__image">
                                            <img src="./img/success7.webp" alt="success"/>
                                        </div>
                                    </div>
                                </div>

                                <div class="success-slider__slide swiper-slide">
                                    <!-- внутренний контент слайда -->
                                    <div class="success-slider__inner">
                                        <div class="success-slider__image">
                                            <img src="./img/success8.webp" alt="success"/>
                                        </div>
                                    </div>
                                </div>

                                <div class="success-slider__slide swiper-slide">
                                    <!-- внутренний контент слайда -->
                                    <div class="success-slider__inner">
                                        <div class="success-slider__image">
                                            <img src="./img/success9.webp" alt="success"/>
                                        </div>
                                    </div>
                                </div>

                                <div class="success-slider__slide swiper-slide">
                                    <!-- внутренний контент слайда -->
                                    <div class="success-slider__inner">
                                        <div class="success-slider__image">
                                            <img src="./img/success10.webp" alt="success"/>
                                        </div>
                                    </div>
                                </div>

                                <div class="success-slider__slide swiper-slide">
                                    <!-- внутренний контент слайда -->
                                    <div class="success-slider__inner">
                                        <div class="success-slider__image">
                                            <img src="./img/success11.webp" alt="success"/>
                                        </div>
                                    </div>
                                </div>

                                <div class="success-slider__slide swiper-slide">
                                    <!-- внутренний контент слайда -->
                                    <div class="success-slider__inner">
                                        <div class="success-slider__image">
                                            <img src="./img/success12.webp" alt="success"/>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <!--стрелки управления -->
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
